@import "tailwindcss";

@theme {
  --font-Quicksand: Quicksand, sans-serif;
  --font-Aguafina: Aguafina Script, cursive;
  --font-Cormorant: Cormorant Unicase, serif;
  --font-Baskervville: Baskervville, serif;

  --color-gold-100: #c5a46d;
  --color-gold-200: #cfb992;
  --color-gold-300: #a38146;
  --color-gold-400: #e4ddd3
}
